:root{
  --blanco: #FFFFFF;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-size: 1.6rem;
  background-image: linear-gradient(to right, rgb(20, 137, 245) 40%, rgb(115, 181, 242) 100%);
  color: var(--blanco);
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
}

.container{
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
/* Utility */

.no-margin{
  margin: 0;
}
.no-padding{
  padding: 0;
}
.center-text{
  text-align: center;
}

/* Global */

h1, h2, h3{
  font-family: 'Noto Sans JP', sans-serif;
}

p{
  font-family: 'Noto Sans JP', sans-serif;
}
/* Header */

.header{

}

/* footer */

.footer{

}

/* bottom */

.button{
  align-items: center;
}
